body {
    background-color: rgb(64, 72, 107);
    margin: auto;
    color: #ffffff;
}

header {
    position: fixed;
    text-align: center;
    font-size: 50px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
}
h4{
    margin-top: 100px;
    font-size: 25px;
}

footer {
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    position: fixed;
    margin-top: 40px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 25px;
}

.eventDisplay{
    margin-left: 40%;
}

input {
    color: #ffffff;
}